.dateInput, .dateInput:focus, .dateInput:active {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #aa871d;
    color: #343131;
    width: 130px;
}
.textInputLogin {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #aa871d;
    background: #1c1b1b;
    color: #aa871d;
    padding: 10px;
    width: 100%;
}

.textInputLogin:focus, 
.textInputLogin:active {
    border-bottom: 2px solid #aa871d;
    outline: none;
}
.inputSalePwd::-webkit-inner-spin-button,
.inputSalePwd::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.inputSalePwd { -moz-appearance:textfield; }

.inputSalePwd::placeholder{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.inputSalePwd:focus{
    border:3px solid green;
}

.inputSalePwd{
    -webkit-text-security: disc;
    border: 2px solid #1c1b1b;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 200px;
    
}
